schema/dcat.v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:dcat="http://www.w3.org/ns/dcat#" 
	xmlns:dct="http://purl.org/dc/terms/"
	xmlns:dctype="http://purl.org/dc/dcmitype/"
	xmlns:foaf="http://xmlns.com/foaf/0.1/" 
	xmlns:locn="http://www.w3.org/ns/locn#"
	xmlns:odrl="http://www.w3.org/ns/odrl/2/"
	xmlns:owl="http://www.w3.org/2002/07/owl#"
	xmlns:prov="http://www.w3.org/ns/prov#"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
	xmlns:skos="http://www.w3.org/2004/02/skos/core#" 
	xmlns:time="http://www.w3.org/2006/time#"
	xmlns:vcard="http://www.w3.org/2006/vcard/ns#"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	
	xmlns:adms="http://www.w3.org/ns/adms#"
	xmlns:dqv="http://www.w3.org/ns/dqv#"
	xmlns:earl="http://www.w3.org/ns/earl#"
	xmlns:geosparql="http://www.opengis.net/ont/geosparql#"
	xmlns:oa="http://www.w3.org/ns/oa#"
	xmlns:sdmx-attribute="http://purl.org/linked-data/sdmx/2009/attribute#"
	xmlns:sdo="https://schema.org/"
	xmlns:w3cgeo="http://www.w3.org/2003/01/geo/wgs84_pos#"
	 
	targetNamespace="http://www.w3.org/ns/dcat#" 
	elementFormDefault="qualified" 
	attributeFormDefault="qualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">
      DCAT version 2 XML Schema
      XML Schema for http://www.w3.org/ns/dcat# namespace
      
      Description: 	This is an XML Schema for the DCAT version 2 specification. 
      				The schema is based on the one used by GeoNetwork for storing GeoNetwork data internally. 
      				The schema adheres to a 'normalized' RDF/XML syntax that can be processed with good old XML Technology (XPath, XSLT, XQuery). 
      				The schema is not intended to be used outside GeoNetwork.

      Created 2019-10-03
      Modified
 
      Author PW

    </xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.w3.org/ns/adms#" schemaLocation="adms.xsd"/>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>
	<xs:import namespace="http://xmlns.com/foaf/0.1/" schemaLocation="foaf.xsd"/>
	<xs:import namespace="http://www.w3.org/2002/07/owl#" schemaLocation="owl.xsd"/>
	<xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="skos.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="rdf.xsd"/>
	<xs:import namespace="http://www.w3.org/2006/vcard/ns#" schemaLocation="vcard.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/prov#" schemaLocation="prov.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/odrl/2/" schemaLocation="odrl.xsd"/>
	<!-- dcat:Catalog-->
	<xs:element name="Catalog" type="dcat:Catalog"/>
	<xs:complexType name="Catalog">
		<xs:sequence>
			<xs:element name="catalog" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataset" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="record" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="service" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="themeTaxonomy" type="skos:ConceptScheme" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:hasPart" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="foaf:homepage" minOccurs="0" maxOccurs="1"/>
			<xs:element name="distribution" minOccurs="0" maxOccurs="1"/>
			<xs:element name="spatialResolutionInMetres" minOccurs="0" maxOccurs="1"/>
			<xs:element name="temporalResolution" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="dct:accrualPeriodicity" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="dct:spatial" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:temporal" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="prov:wasGeneratedBy" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="contactPoint" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="keyword" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="landingPage" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="qualifiedRelation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="theme" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:creator" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:license" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="dct:modified" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="dct:publisher" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dct:type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="odrl:hasPolicy" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="prov:qualifiedAttribution" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="rdf:about"/>
	</xs:complexType>
	<!-- dcat:CatalogRecord-->
	<xs:complexType name="CatalogRecord">
		<xs:sequence>
			<xs:element name="CatalogRecord" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:description" minOccurs="0"/>
						<xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:modified" minOccurs="1" maxOccurs="1"/>
						<xs:element ref="dct:title" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="foaf:primaryTopic" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
					<xs:attribute ref="rdf:about"/>
					<xs:attribute ref="rdf:nodeID"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- dcat:Dataset-->
	<xs:complexType name="Dataset">
		<xs:sequence>
			<xs:element name="Dataset" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="distribution" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="spatialResolutionInMetres" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="temporalResolution" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:accrualPeriodicity" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:spatial" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:temporal" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="prov:wasGeneratedBy" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="contactPoint" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="keyword" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="landingPage" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="qualifiedRelation" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="theme" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:creator" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:license" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:modified" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:publisher" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:type" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="odrl:hasPolicy" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="prov:qualifiedAttribution" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute ref="rdf:about"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- dcat:Dataset-->
	<xs:complexType name="DataService">
		<xs:sequence>
			<xs:element name="DataService" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="endpointDescription" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="endpointURL" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="servesDataset" minOccurs="0" maxOccurs="1"/>
						<xs:element name="contactPoint" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="keyword" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="landingPage" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="qualifiedRelation" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="theme" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:creator" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:license" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:modified" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:publisher" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:type" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="odrl:hasPolicy" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="prov:qualifiedAttribution" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute ref="rdf:about"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- dcat:Distribution-->
	<xs:complexType name="Distribution">
		<xs:sequence>
			<xs:element name="Distribution" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="accessService" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element name="accessURL" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element name="byteSize" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element name="compressFormat" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element name="downloadURL" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element name="mediaType" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element name="packageFormat" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element name="spatialResolutionInMetres" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element name="temporalResolution" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element ref="dct:accessRights" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dct:description" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element ref="dct:format" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:license" minOccurs="1" maxOccurs="1"/>
						<xs:element ref="dct:modified" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:rights" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:title" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="odrl:hasPolicy" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
					<xs:attribute ref="rdf:about"/>
					<xs:attribute ref="rdf:nodeID"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- dcat:Relationship-->
	<xs:complexType name="Relationship">
		<xs:sequence>
			<xs:element name="Relationship" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="hadRole" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="dct:description" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute ref="rdf:about"/>
					<xs:attribute ref="rdf:nodeID"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
